@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-stone-100 dark:bg-stone-900;
  @apply text-black/50 dark:text-white/75;
}

header {
  @apply border-b border-stone-200 dark:border-stone-700;
}

main {
  @apply flex-1 py-12;
}

footer {
  @apply py-10 text-sm;
}

.font-display {
  font-family: "General Sans", sans-serif;
}

article {
  @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold;
  @apply prose-headings:text-black prose-headings:dark:text-white;
}

article :where(p, li) {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media (min-width: 900px) {
  article :where(p, li) {
    text-align: justify;
    text-align-last: left;
  }
}

article :where(h2) {
  @apply font-display;
  @apply mt-0 text-sm font-medium uppercase tracking-[0.1em];
  @apply text-black/50 dark:text-white/75;
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-black/15 dark:decoration-white/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-black dark:text-white;
    @apply decoration-black/25 dark:decoration-white/50;
  }
}

.animate {
  @apply opacity-100 translate-y-0;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}
